<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.SEND_SMS"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lako"
        tools:targetApi="31">
        <activity
            android:name=".Main_Shop_Seller_Message"
            android:exported="false" />
        <activity
            android:name=".Chat_bot"
            android:exported="false" />
        <activity
            android:name=".Profile_My_Shop_VERIFY_OTP"
            android:exported="false" />
        <activity
            android:name=".Profile_My_Shop_SEND_OTP"
            android:exported="false" />
        <activity
            android:name=".Main_Shop_Seller_Edit_Profile_Loading_Screen"
            android:exported="false" />
        <activity
            android:name=".Main_Shop_Seller_Save_Screen"
            android:exported="false" />
        <activity
            android:name=".Main_Shop_Seller_Completed"
            android:exported="false" />
        <activity
            android:name=".Main_Shop_Seller_Shipped_Out"
            android:exported="false" />
        <activity
            android:name=".Main_Shop_Seller_Amount_Orders"
            android:exported="false" />
        <activity
            android:name=".Main_Shop_Seller_View_Order"
            android:exported="false" />
        <activity
            android:name=".Main_Shop_Seller_Add_Categories"
            android:exported="false" />
        <activity
            android:name=".TEMPORARY_ACTIVITY"
            android:exported="false" />
        <activity
            android:name=".Main_Shop_Seller_List_Products"
            android:exported="false" />
        <activity
            android:name=".Main_Shop_Seller_Analytics"
            android:exported="false" />
        <activity
            android:name=".Main_Shop_Seller_Categories"
            android:exported="false" />
        <activity
            android:name=".Main_Shop_Seller_Orders"
            android:exported="false" />
        <activity
            android:name=".Main_Shop_Seller_Edit"
            android:exported="false" />
        <activity
            android:name=".Main_Shop_Seller_Products"
            android:exported="false" />
        <activity
            android:name=".ADD_TO_CART"
            android:exported="false" />
        <activity
            android:name=".Profile_My_Shop_Loading_Screen"
            android:exported="false" />
        <activity
            android:name=".Profile_My_Shop_Verify_Seller"
            android:exported="false" />
        <activity
            android:name=".Profile_My_Shop_Facial_Recognition"
            android:exported="false" />
        <activity
            android:name=".Profile_My_Shop_Verify"
            android:exported="false" />
        <activity
            android:name=".Profile_My_Shop_Setup"
            android:exported="false" />
        <activity
            android:name=".Profile_My_Shop_Start"
            android:exported="false" />
        <activity
            android:name=".Profile_User_Received"
            android:exported="false" />
        <activity
            android:name=".Profile_User_To_Receive"
            android:exported="false" />
        <activity
            android:name=".Profile_User_Ship"
            android:exported="false" />
        <activity
            android:name=".Profile_User_Pay"
            android:exported="false" />
        <activity
            android:name=".Profile_Settings_Purchase"
            android:exported="false" />
        <activity
            android:name=".Profile_Settings_Add_MFA"
            android:exported="false" />
        <activity
            android:name=".Profile_Settings_MFA"
            android:exported="false" />
        <activity
            android:name=".Profile_Settings_Add_Payment"
            android:exported="false" />
        <activity
            android:name=".Profile_Settings_Payment"
            android:exported="false" />
        <activity
            android:name=".Profile_Settings_Add_Address"
            android:exported="false" />
        <activity
            android:name=".Profile_Settings_Address"
            android:exported="false" />
        <activity
            android:name=".Profile_Edit"
            android:exported="false" />
        <activity
            android:name=".Profile_Settings_information"
            android:exported="false" />
        <activity
            android:name=".Profile_Settings"
            android:exported="false" />
        <activity
            android:name=".Living_Home"
            android:exported="false" />
        <activity
            android:name=".Clothing_Home"
            android:exported="false" />
        <activity
            android:name=".Art_Home"
            android:exported="false" />
        <activity
            android:name=".Accessories_Home"
            android:exported="false" />
        <activity
            android:name=".Password_reset_link"
            android:exported="false" />
        <activity
            android:name=".Password_Reset"
            android:exported="false" />
        <activity
            android:name=".Update_security_questions"
            android:exported="false" />
        <activity
            android:name=".Security_Questions_reset_pass"
            android:exported="false" />
        <activity
            android:name=".Security_Question"
            android:exported="false" />
        <activity
            android:name=".Forgot_Password_Email"
            android:exported="false" />
        <activity
            android:name=".Forgot_Password"
            android:exported="false" />
        <activity
            android:name=".Terms_Conditions"
            android:exported="false" />
        <activity
            android:name=".About_Us"
            android:exported="false" />
        <activity
            android:name=".sign_in"
            android:exported="false" />
        <activity
            android:name=".sign_up"
            android:exported="true" />
        <activity
            android:name=".Logo_Page_Activity2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>